@import "fonts.css";
@import "colors.css";

.ctrl-button {
  padding: 2px;
  text-decoration: none;
  color: #C0C0C0;
  background-image: linear-gradient(#8f8f8f, #555555);
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.ctrl-button-compress {
  text-decoration: none;
  color: #C0C0C0;
  background-image: linear-gradient(#8f8f8f, #555555);
  border: 1px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.ctrl-combo {
  padding: 2px;
  text-decoration: none;
  background-color: #555555;
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.check-box{
  /*background-color: blue;  background of box color*/
  padding: 5px;
  text-decoration: none;
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.exit-button {
  padding: 5px;
  text-decoration: none;
  color: red;
  background-image: linear-gradient(red, #ad3c3c);
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

:hover{
  opacity: 0.80;
}

:disabled{
  opacity: 0.60;
}

.dialog-border{
  background-image: linear-gradient( lightgray, gray);
  border-width: 4px;
  border-style: solid;
  border-color: darkgray;
  border-radius: 4px;
}
.title-bar{
  padding-bottom: 3px;
  border-bottom-width:4px;
  border-top-width:0px;
  border-left-width:0px;
  border-right-width:0px;
  border-style: solid;
  border-color: rgb(49, 49, 49);
  border-radius: 4px;
}

.Hdivider{
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom-width:4px;
  border-style: solid;
  border-color: rgb(49, 49, 49);
  border-radius: 4px;
}

.entry {
  /*background-image: none; 
  border-image: none;*/
  padding: 2px;
  text-decoration: none;
  color: black; /* text color */
  background: white;
  border: 4px solid #24252A;
  border-radius: 10px;
}

.list-select{
  color: black;
  padding: 2px;
  text-decoration: none;
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.ctrl-lbl {
  color: white; /*text color*/
  background-color: gray;
  border: 2px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.config-list-box{
  border: 2px solid #24252A;
  border-radius: 10px;
}

.popover-bg {
  padding: 5px;
  text-decoration: none;
  color: #C0C0C0;
  transition: all 0.3s ease 0s;
  margin: 5px;
  background-image: linear-gradient( gray, rgb(55, 55, 55));
  border: 4px solid black;
  border-radius: 4px;
}

.treeview{ 
  color: Black; 
  background: rgb(200, 202, 202); 
  text-shadow: none; 
  box-shadow: none; 
}
.treeview:hover { 
  background-color: #666666; 
  color: red; 
}

.spinbutton{ 
  margin: 3px;
  padding: 3px;
  /* background-color: #666666; */
}

.spinbutton:active{
color: red; 
}

.up{
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(rgb(94, 95, 93), #626361);
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.down{
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(rgb(94, 95, 93), #626361);
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.padding{
  margin: 3px;
  padding: 3px;
}
