.ctrl-button {
  padding: 5px;
  text-decoration: none;
  color: #C0C0C0;
  background-image: linear-gradient(#555555, #303030);
  border: 4px solid #24252A;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}